/* Twitter Carousel Settings */
.tsp_tf_carousel { margin: 0 0 15px; overflow: hidden; }
.tsp_tf_carousel ul { list-style:  none; }
.tsp_tf_carousel ul li{ margin: 0 0 20px 0px; padding-bottom:2px; }
.tsp_tf_carousel ul li.twitter { background: url(../images/twitter_footer.png) no-repeat 40px bottom; }
.tsp_tf_carousel ul li.facebook { background: url(../images/facebook_footer.png) no-repeat 40px bottom; }
.tsp_tf_carousel ul li .wrapper { display:block; min-height: 67px; padding:8px; border:1px solid #ebebeb; background: #eaeaea url(../images/twitter_bg.png) repeat-x top; }
.tsp_tf_carousel .thumbnail { float:left; margin-right:15px; }
.tsp_tf_carousel .text { overflow: hidden; font: italic 13px/17px Georgia; color: #030303; }
.tsp_tf_carousel .text .title { font: bold 13px/17px Arial; }
.tsp_tf_carousel .text a { text-decoration: none; color: #006a9c; }
.tsp_tf_carousel .wrapper { display: block;  }

/* Twitter Feed Settings */
.twtr-widget .twtr-tweet { border: none; border-bottom: none !important; padding:10px 0px 21px 0px; background: url(../images/twitter_footer.png) no-repeat 40px bottom; }
.twtr-widget .twtr-tweet .twtr-tweet-wrap {  display:block; min-height: 67px; padding:8px; border:1px solid #ebebeb; background: #eaeaea url(../images/twitter_bg.png) repeat-x top; }

.twtr-widget .twtr-tweet .twtr-tweet-text { overflow: hidden; font: italic 13px/17px Georgia; }
.twtr-widget .twtr-tweet .twtr-tweet-text a { text-decoration: none; }

.twtr-hd, .twtr-ft div{ display: none; }

/* General Settings */
.tsp_tf_title{
	border-bottom: 1px solid #DADADA;
}

.tsp_tf_title .icon_twitter{
	background: url(../images/twitter_buzz.png) no-repeat;
	height: 30px;
}

.tsp_tf_title .title{
	margin-left: 60px;
	color: #3264AA;
}